* {
  box-sizing: border-box;
  text-align: center;
}
body {
  background: #777;
  width: 960px;
  font-family: 'Arial', 'helvetica new', helvetica, sans-serif;
  font-size: 18px;
  display: inline-block;
}



header { 
  background-color: #ebebeb;
  padding: 50px;
  margin-bottom: 10px;
  color: #777;
}

nav {
  background-color: #ebebeb;
  padding: 50px;
  margin-bottom: 20px;
  color: #777;
}


section {
  width: 495px;
  padding: 30px;
  /*padding-bottom: 20px;*/
  float: left;
  background-color: #ebebeb;
  margin-bottom: 20px;
  color: #777;

}

aside {
  background-color: #ebebeb;
  width: 445px;
  float: right;
  padding: 148px;
  color: #777;

}

article {
  background-color: #777;
  padding: 20px;
  /*margin-bottom: 20px;*/
  clear: both;
  color: #ebebeb;
  overflow: auto;
}



h1 {
  background-color: #ebebeb;
  padding: 20px;
  color: #777;
  /*margin-bottom: 5px;*/
}

p {
  background-color: #ebebeb;
  padding: 20px;
  color: #777;
  margin-bottom: 10px;

}

footer {
  background-color: #ebebeb;
  padding: 50px;
  margin-bottom: 20px;
  clear: both;
  color: #777;
}